{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="فرصتی برای قدردانی از وفاداری شما مشتری عزیز">
  <meta name="author" content="">
  <title>باشگاه مشتریان گنجینه همراه</title>

  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">

  <link rel="shortcut icon" href="{% static 'img/brand/favicon.png' %}" type="image/x-icon">

</head>

<body>

  <!-- Page-wrapper-Start -->
  <div class="page_wrapper">

    <!-- Preloader -->
    <div id="preloader">
      <div id="loader"></div>
    </div>

    <!-- Header Start -->
    <header>
      <!-- container start -->
      <div class="container">
      	<!-- navigation bar -->
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#">
            <img src="{% static 'img/brand/logo.svg' %}" alt="image" >
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <!-- <i class="icofont-navigation-menu ico_menu"></i> -->
              <div class="toggle-wrap">
                <span class="toggle-bar"></span>
              </div>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">خـانه</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">ویژگی‌ها</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">درباره باشگاه</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#network">شبکه‌ی کاربران</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#how_it_work">نحوه کار</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">سوالات متداول</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blog">بلاگ</a>
              </li>
<!--              <li class="nav-item">-->
<!--                <a class="nav-link dark_btn" href="contact.html">شروع کنید</a>-->
<!--              </li>-->
            </ul>
          </div>
          <div class="d-flex">
            <a class="btn dark_btn d-lg-inline-flex d-none" href="contact.html">ورود به باشگاه</a>
            <a class="nav-link dark_btn d-lg-inline-flex d-none" href="contact.html">ثبت‌نام</a>
          </div>
        </nav>
        <!-- navigation end -->
      </div>
      <!-- container end -->
    </header>

    <!-- Hero-Section -->
    <section class="banner_section"id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-12"  data-aos="fade-right" data-aos-duration="1500">
            <div class="banner_text">
              <h1 class="d-flex flex-column">
                <span class="h2 mb-n2 font-weight-600">بـاشگاه مشتریان</span>
                <span class="h1">شرکت گنجینه همراه ثانی</span>
              </h1>
              <p class="h6 font-weight-300">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.
              </p>
            </div>
            <ul class="app_btn">
              <li>
                <a href="#">ورود به باشگاه</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Features-Section -->
    <section class="row_am features_section py-lg-9 py-md-7 py-5" id="features">
      <div class="container">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
          <h2>ویژگی‌هایی متناسب با نیاز‌های شما</h2>
          <p class="font-weight-300">اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند.</p>
        </div>
        <div class="feature_detail mt-lg-5 mt-0">
          <div class="left_data feature_box">
            <div class="data_block block1" data-aos="fade-right" data-aos-duration="1500">
              <div class="icon">
                <img src="{% static 'img/features_ranking.svg' %}" alt="image" >
              </div>
              <div class="text">
                <h4 class="h6">مسابقات و قرعه‌کشی‌ها</h4>
                <p class="font-weight-300 mb-0">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست.</p>
              </div>
            </div>
            <div class="data_block block2" data-aos="fade-right" data-aos-duration="1500">
              <div class="icon">
                <img src="{% static 'img/features_document.svg' %}" alt="image" >
              </div>
              <div class="text">
                <h4 class="h6">گزارش‌های تحلیلی</h4>
                <p class="font-weight-300 mb-0">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست.</p>
              </div>
            </div>
          </div>
          <div class="right_data feature_box">
            <div class="data_block block3" data-aos="fade-left" data-aos-duration="1500">
              <div class="icon">
                <img src="{% static 'img/features_card.svg' %}" alt="image" >
              </div>
              <div class="text">
                <h4 class="h6">بسته‌های اعتباری</h4>
                <p class="font-weight-300 mb-0">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست.</p>
              </div>
            </div>
            <div class="data_block block4" data-aos="fade-left" data-aos-duration="1500">
              <div class="icon">
                <img src="{% static 'img/features_wallet.svg' %}" alt="image" >
              </div>
              <div class="text">
                <h4 class="h6">تبدیل امتیاز به وجه نقد</h4>
                <p class="font-weight-300 mb-0">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست.</p>
              </div>
            </div>
          </div>
          <div class="feature_img d-lg-flex d-none" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
            <img src="{% static 'img/features.svg' %}" alt="image" >
          </div>
        </div>
      </div>
    </section>

    <!-- About-App-Section -->
    <section class="row_am about_app_section py-lg-9 py-md-7 py-5" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about_img" data-aos="fade-in" data-aos-duration="1500">
              <div class="frame_img">
                <img class="moving_position_animatin" src="{% static 'img/about-frame.svg' %}" alt="image" >
              </div>
              <div class="screen_img">
                <img class="moving_animation" src="{% static 'img/about-screen.svg' %}" alt="image" >
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about_text">
              <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <h2 class="mb-4">تو باشگاه مشتریان چه خبره؟</h2>
                <p class="font-weight-300">طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درستی به کار فرما نمیدهد. اگر طراح بخواهد دنبال متن های مرتبط بگردد تمرکزش از روی کار اصلی برداشته میشود و اینکار زمان بر خواهد بود.</p>
              </div>
              <ul class="app_statstic" id="counter" data-aos="fade-in" data-aos-duration="1500">
                <li>
                  <div class="text">
                    <p class="font-weight-300">سابقه فعالیت</p>
                    <p><span class="counter-value" data-count="17">0</span><span>سـال</span></p>
                  </div>
                </li>
                <li>
                  <div class="text">
                    <p class="font-weight-300">مشتریان ما</p>
                    <p><span class="counter-value" data-count="5678">1000</span><span>نفر</span></p>
                  </div>
                </li>
                <li>
                  <div class="text">
                    <p class="font-weight-300">شعبات کشور</p>
                    <p><span class="counter-value" data-count="22">10</span><span>شعبه</span></p>
                  </div>
                </li>
                <li>
                  <div class="text">
                    <p class="font-weight-300">دارایی تحت مالکیت</p>
                    <p><span class="counter-value" data-count="25">0</span><span>هزارمیلیارد</span></p>
                  </div>
                </li>
              </ul>
              <a href="contact.html" class="btn" data-aos="fade-in" data-aos-duration="1500">همین حالا ثبت‌نام کن</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About-App-Section -->
    <section class="row_am modern_ui_section py-lg-9 py-md-7 py-5" id="network">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="ui_text">
              <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <h2 class="d-flex flex-column mb-4">
                  <span class="mb-n1">شبکه کاربران</span>
                  <span>امکانی برای افزایش امتیاز شما</span>
                </h2>
                <p class="font-weight-300 mb-2">دوستان خود را به ما معرفی کنید و از فعالیت آنها در باشگاه بهره مند شوید.</p>
                <p class="font-weight-300">در باشگاه آینده برای ارائه خدمات به روز و قدرانی از وفاداری شما مشتری عزیز، امکانات فراوانی در نظر گرفته شده. یکی از این راه ها توسعه شبکه کاربران می‌باشد. شما کاربران عزیز می‌توانید برای کسب امتیاز بیشتر و افزایش درآمد خود در باشگاه از این امکان استفاده نمایید.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ui_images py-sm-0 py-6" data-aos="fade-in" data-aos-duration="1500">
              <div class="left_img">
                <img class="moving_position_animatin" src="{% static 'img/modern01.svg' %}" alt="image" >
              </div>
              <div class="right_img">
<!--                <img class="moving_position_animatin" src="{% static 'img/secure_data.png' %}" alt="image" >-->
                <img class="moving_position_animatin" src="{% static 'img/modern02.svg' %}" alt="image" >
                <img class="moving_position_animatin" src="{% static 'img/modern03.svg' %}" alt="image" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- How-It-Workes-Section -->
    <section class="row_am how_it_works py-lg-8 py-md-7 py-5" id="how_it_work">
      <div class="container">
        <div class="how_it_inner">
          <div class="section_title mb-sm-5 mb-4" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
            <h4 class="h2">چطور کار میکند؟</h4>
            <p class="font-weight-300">اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند.</p>
          </div>
          <div class="step_block">
            <div class="row ">
              <div class="col-md-4 col-sm-12">
                  <div class="step_box">
                      <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
                        <img src="{% static 'img/hiw_login.svg' %}" alt="image" style="height: 200px;width: auto;left: 5px;top: 1px;">
                        <div class="step_number">
                        <span>1</span>
                        </div>
                      </div>
                      <div class="step_text" data-aos="fade-right" data-aos-duration="1500">
                        <h4 class="h6">وارد شـوید</h4>
                        <p class="font-weight-300">با معامله سهام و اوراق، دعوت دوستان، شرکت در مسابقات و قرعه‌کشی‌های باشگاه امتیاز بگیرید.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-12">
                  <div class="step_box">
                      <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
                        <img src="{% static 'img/hiw_score.svg' %}" alt="image" style="height: 200px;width: auto;right: 0;">
                        <div class="step_number">
                        <span>2</span>
                        </div>
                      </div>
                      <div class="step_text step2" data-aos="fade-right" data-aos-duration="1500">
                        <h4 class="h6">امتیاز جمع کنید</h4>
                        <p class="font-weight-300">با معامله سهام و اوراق، دعوت دوستان، شرکت در مسابقات و قرعه‌کشی‌های باشگاه امتیاز بگیرید.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-12">
                  <div class="step_box">
                      <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
                        <img src="{% static 'img/hiw_prize.svg' %}" alt="image" >
                        <div class="step_number">
                        <span>3</span>
                        </div>
                      </div>
                      <div class="step_text step3" data-aos="fade-right" data-aos-duration="1500">
                        <h4 class="h6">جایزه بگیرید</h4>
                        <p class="font-weight-300">با جمع‌آوری امتیاز و شرکت در قرعه‌کشی‌ها از جوایز متنوع باشگاه برخوردار شوید.</p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FAQ-Section -->
    <section class="row_am faq_section py-lg-9 py-md-7 py-5" id="faq">
      <div class="container">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
          <p class="h2"><span>سوالات متداول</span> - سوالات متداول پرسیده شده</p>
          <p class="font-weight-300">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br> چاپگرها و متون بلکه روزنامه با استفاده از طراحان گرافیک است. </p>
        </div>
        <div class="faq_panel">
          <div class="accordion" id="accordionExample">
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="heading1">
                  <button type="button" class="btn btn-link active" data-toggle="collapse" data-target="#collapse1">
                    <h6 class="mb-0">چگونه عضو باشگاه شویم؟</h6>
                  	<i class="icon_faq icofont-plus"></i>
                  </button>
              </div>
              <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-300">اگر از قبل مشتری کارگزاری هستید می توانید تنها با ثبت نام در باشگاه از کلیه خدمات ما بهرمند شوید. اما اگر تاکنون موفق به عضویت در شرکت کارگزاری بانک تجارت نشده‌اید میتوانید جهت فعالیت و کسب امتیاز در باشگاه به یکی از شعب کارگزاری مراجعه نمایید و عضو خانواده بزرگ کارگزاری بانک تجارت شوید.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingTwo">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">
                  <h6 class="mb-0">چگونه امتیاز بگیرم؟</h6>
                  <i class="icon_faq icofont-plus"></i>
                </button>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-300">نحوه کسب امتیاز در باشگاه کارگزاری بانک تجارت متنوع است و روز به روز با توسعه باشگاه این روش ها در حال افزایش است .امتیاز گیری در باشگاه از محل فعالیت های تعریف شده در باشگاه مانند شرکت در مسابقات، معرفی مشتری، حجم معاملات در ماه و سایر موارد که بر حسب زمان اضافه خواهد شد می باشد.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingThree">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">
                  <h6 class="mb-0">چگونه از امتیازم بهره‌مند بشم؟</h6>
                  <i class="icon_faq icofont-plus"></i>
                </button>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-300">شما می توانید امتیاز خود را با تبدیل به بسته های اعتباری، خدمات آموزشی و خرید کالا در فروشگاه و سایر خدماتی که که به زودی به سامانه اضافه می شود مصرف کنید. همچنین، آندسته از مشتریانی که تمایل به استفاده از کالا و خدمات موجود در سامانه ندارند می توانند با درخواست تبدیل امتیاز به وجه نقد معادل ارزش ریالی امتیاز خود را دریافت نمایند.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFour">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour">
                  <h6 class="mb-0">آیا می‌توانم امتیاز خود را به دیگران هدیه دهم؟</h6>
                  <i class="icon_faq icofont-plus"></i>
                </button>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-300">امکان انتقال امتیاز به دیگران در سامانه وجود دارد.شما کاربر عزیزدر صورت تمایل تنها با داشتن کد اختصاصی هر کاربر می توانید امتیاز خود را به دیگران هدیه دهید.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFive">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive">
                  <h6 class="mb-0">چه زمانی امتیازات معاملات روز خود را می‌توانم مشاهده کنم؟</h6>
                  <i class="icon_faq icofont-plus"></i>
                </button>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-300">امتیاز معاملات مشتریان در روز تقویمی بعد از معامله راس ساعت 8:00 صبح محاسبه شده و قابل مشاهده می باشد.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingSix">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix">
                  <h6 class="mb-0">آیا تنها معاملاتی که به صورت آنلاین انجام می‌شود شامل امتیاز است؟</h6>
                  <i class="icon_faq icofont-plus"></i>
                </button>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-300">خیر؛ کلیه معاملات شما در باشگاه کارگزاری مسکن شامل امتیاز خواهد شد، همچنین میزان امتیاز شما با افزایش سطح معامات شما در هر ما افزایش خواهد داشت که جزئیات آن در راهنمای گردش امتیازات باشگاه قابل مشاهده می باشد.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SignUp-section  -->
    <section class="row_am free_app_section py-lg-9 py-md-7 py-5" id="">
        <div class="container">
            <div class="free_app_inner" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">
                <div class="row">
                    <div class="col-md-6">
                        <div class="free_text">
                            <div class="section_title">
                                <p class="h2">ما در هر قدم کنار شما هستیم</p>
                                <p>
                                  <span class="d-block h6 font-weight-300 mb-0"">باشگاه مشتریان شرکت گنجینه همراه ثانی</span>
                                  <span class="d-block h6 font-weight-300 mb-0"">فرصتی برای همراهی بیشتر و خلق تجربه&zwnj;های متفاوت</span>
                                </p>
                            </div>
                            <ul class="app_btn mt-sm-5">
                              <li>
                                <a href="contact.html" class="btn">ثبـت‌نــام کـن!</a>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-lg-flex">
                        <div class="free_img">
                            <img src="{% static 'img/welcoming.svg' %}" alt="image" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Story-Section -->
    <section class="row_am latest_story py-lg-8 py-md-7 py-5" id="blog">
      <div class="container">
          <div class="section_title mb-sm-5 mb-3" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">
              <h4 class="h2">آخرین خبر‌ها و مقالات</h4>
              <p class="font-weight-300">رشد شما با مطالعه و یادگیری آغاز می‌شود</p>
          </div>
          <div class="row">
            <div class="col-md-4 d-flex">
                <div class="story_box" data-aos="fade-up" data-aos-duration="1500">
                    <div class="story_img">
                      <img src="{% static 'img/story01.png' %}" alt="image" class="object-cover">
                    </div>
                    <div class="story_text">
                      <h6 class="text-center">ویژگی های خوب درج شد</h6>
                      <p class="font-weight-300">شاخص‌های مهم بورسی جهان عملکرد مختلفی داشتند.</p>
                      <a href="blog-single.html" class="">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="story_box" data-aos="fade-up" data-aos-duration="1500">
                    <div class="story_img">
                      <img src="{% static 'img/story02.png' %}" alt="image" class="object-cover">
                    </div>
                    <div class="story_text">
                      <h6 class="text-center"> برنامه دارای رتبه برتر!. </h6>
                      <p class="font-weight-300">طی تیر ماه سال جاری، ۴ میلیون و ۲۱ هزار تن انواع کالا به ارزش بیش از ۳۷۴ هزار میلیارد ریال در بازار فیزیکی بورس کالای ایران مورد دادوستد قرار گرفت.</p>
                      <a href="blog-single.html" class="">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="story_box" data-aos="fade-up" data-aos-duration="1500">
                    <div class="story_img">
                      <img src="{% static 'img/story03.png' %}" alt="image" class="object-cover">
                    </div>
                    <div class="story_text">
                      <h6 class="text-center"> ایده های خلاقانه در مورد برنامه.</h6>
                      <p class="font-weight-300">بانک مرکزی امروز نرخ رسمی ۴۶ ارز عمده و اصلی را اعلام کرد که براساس آن نرخ ۱۳ ارز کاهش و ۲۰ ارز افزایش یافت. همچنین نرخ ۱۳ ارز رسمی ثابت ماند.</p>
                      <a href="blog-single.html" class="">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </section>

    <!-- Trusted Section start -->
    <section class="row_am trusted_section py-lg-8 py-md-7 py-5">
      <div class="container">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
          <p class="h2">مورد اعتماد <span>150+</span> شرکت</p>
          <p class="font-weight-300">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br> چاپگرها و متون بلکه روزنامه با استفاده از طراحان گرافیک است. </p>
        </div>
        <div class="company_logos" >
          <div id="company_slider" class="owl-carousel owl-theme">
            <div class="item">
              <div class="logo">
                <img src="{% static 'img/paypal.png' %}" alt="image" >
              </div>
            </div>
            <div class="item">
              <div class="logo">
                <img src="{% static 'img/spoty.png' %}" alt="image" >
              </div>
            </div>
            <div class="item">
              <div class="logo">
                <img src="{% static 'img/shopboat.png' %}" alt="image" >
              </div>
            </div>
            <div class="item">
              <div class="logo">
                <img src="{% static 'img/slack.png' %}" alt="image" >
              </div>
            </div>
            <div class="item">
              <div class="logo">
                <img src="{% static 'img/envato.png' %}" alt="image" >
              </div>
            </div>
            <div class="item">
              <div class="logo">
                <img src="{% static 'img/paypal.png' %}" alt="image" >
              </div>
            </div>
            <div class="item">
              <div class="logo">
                <img src="{% static 'img/spoty.png' %}" alt="image" >
              </div>
            </div>
            <div class="item">
              <div class="logo">
                <img src="{% static 'img/shopboat.png' %}" alt="image" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-Section -->
    <footer>
        <div class="top_footer" id="contact">
            <div class="container">
              <div class="row justify-content-between">
                  <div class="col-lg-5 mb-4 mb-lg-0">
                      <div class="abt_side">
                        <div class="logo"> <img src="{% static 'img/brand/brand-white.png' %}" alt="image" ></div>
                        <p class="text-right font-weight-300 pl-lg-5 pt-2 mt-1 text-white opacity-7" style="line-height: 2;">شرکت کارگزاری بانک تجارت از ابتدای خرداد ماه 1373 فعالیت خود را با عضویت در سازمان بورس و اوراق بهادار آغاز نمود.</p>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="links">
                        <h5 class="font-weight-600 mb-4 text-white opacity-9">لینک‌های مرتبط</h5>
                          <ul>
                            <li class="font-weight-300 py-1"><a href="#" class="text-white mb-0 opacity-7">کارگزاری بانک تجارت</a></li>
                            <li class="font-weight-300 py-1"><a href="#" class="text-white mb-0 opacity-7">سامانه معاملات آنلاین</a></li>
                            <li class="font-weight-300 py-1"><a href="#" class="text-white mb-0 opacity-7">ارتباط با شعب کارگزاری</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="links">
                      <h5 class="font-weight-600 mb-4 text-white opacity-9">ارتباط با مـا</h5>
                        <ul>
                          <li><p class="mb-0 font-weight-300 py-1" style="line-height: 2;"><span class="ml-2">آدرس :</span>تهران، خیابان نلسون ماندلا، بالاتر از اسفندیار، کوچه شهید رحیمی، پلاک 4، ساختمان کارگزاری بانک تجارت17</p></li>
                          <li><p class="mb-0 font-weight-300 py-1"><span class="ml-2">تلفن :</span><span class="d-inline-block"style="direction: ltr;">(۰۲۱) 4276 4000</span></p></li>
                        </ul>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- last footer -->
        <div class="bottom_footer py-lg-4 py-3">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <ul class="social_media">
                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                    <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                  </ul>
                </div>
                <div class="col-12">
                    <p class="developer_text font-weight-300">طراحی و توسعه توسط <a href="" target="blank" class="font-weight-600">شرکت پردازش اطلاعات آویـد</a></p>
                </div>
              </div>
            </div>
        </div>
        <!-- go top button -->
        <div class="go_top">
            <span><img src="{% static 'img/go_top.png' %}" alt="image" ></span>
        </div>
    </footer>

  <div class="purple_backdrop"></div>

  </div>
  <!-- Page-wrapper-End -->

  <!-- Jquery-js-Link -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <!-- owl-js-Link -->
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <!-- bootstrap-js-Link -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- aos-js-Link -->
  <script src="{% static 'js/aos.js' %}"></script>
  <!-- main-js-Link -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>